<% layout('layouts/boilerplate') -%>

<section id="pricing" class="pricing">
      <!-- Function to check if required conditions are met or not for showing the button -->
      <% function bookValid(prof) { 
        if(!prof) return false; 
        if(prof.isTakingClass) return false; 
        let t=new Date(); let
        min=t.getMinutes(); 
        if(min>=0 && min<59)return true; 
        else return false; 
        } 
      %>


<div class="container">
  
  <div class="section-title">
    <%- include('../partials/flash')%>
    <h2>Lecture Hall Status</h2>
    <% if(prof) {%>
      <h4>Professor : <%= prof.name %></h4>
      <% } %>
    </div>

    <div class="row why-us" >
      <% for (let i=0; i <=3; i++) { %>

          <div class="col-md-4 mt-4 mt-lg-0 mb-5">
            <div class="box h-100">
              <h3><%= lts[i].name %></h3>
              <!-- <h4><sup>$</sup>0<span> / month</span></h4> -->
              <ul>
                <li><b>Status: </b><%= lts[i].status %></li>
                <% if (lts[i].occupiedBy) { %>
                  <p class="card-text"><b> Occupied By: </b><%= lts[i].occupiedBy %></p>
                  <p class="card-text"><b> Course: </b><%= lts[i].class %></p>
                  <p class="card-text"><b> Class Time: </b><%= lts[i].classTime %></p>
                  <% }else if(bookValid(prof)){%>
                    <form action="/lectHalls/<%= lts[i]._id%>/prof/<%= prof._id %>?_method=PUT" method="POST">
                      <button type="submit" class="btn-buy">Book</button>
                    </form>
                    <% } %>
              </ul>
              <!-- <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div> -->
            </div>
          </div>
      <% } %>

  </div>
  <div class>
    <h4 class="text-center" id="clock"></h4>
  </div>
</section>

<% if(prof){ %>
  <hr color="black">
      <h1 class="mb-4 mt-5 text-center">Attendance Logs</h1>
      <div class="container">
      <% for(x of prof.attlogs){ %>
          <h4>Date:  <%=x.when.toLocaleDateString()%>  </h4>
          <% if (x.attlog) {%>
            <table class="table table-hover table-dark table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Roll Number</th>
              </tr>
            </thead>
            <tbody>
              <% for(y of x.attlog){%>
              <tr>
                <td><%= y.name %></td>
                <td><%= y.rollNo %></td>
              </tr>
              <% } %>
            </tbody>
          </table>
          <% } %>
          <hr color="#000">
          <% } %>
        </div> 
        <% } %>   


  <script>
    function updateClock() {
      let now = new Date();
      let hours_24 = now.getHours();
      let hours = now.getHours() % 12 || 12;
      let minutes = ("0" + now.getMinutes()).slice(-2);
      let seconds = ("0" + now.getSeconds()).slice(-2);
      let ampm = hours_24 < 12 ? "AM" : "PM";
      let timeString = hours + ":" + minutes + ":" + seconds + " " + ampm;
      document.getElementById("clock").innerHTML = "Time: " + timeString;
    }

    window.onload = function () {
      updateClock();
      setInterval(updateClock, 1000);
    };
  </script>
